.status-andamento {
    background-color: red;
    padding: 4px;
    border-radius: 40px;
    
    text-align: center; /* Centraliza o texto */
}

.status-finalizado {
    background-color: green;
    padding-top: 10vh;
    padding: 4px;
    border-radius: 40px;
    text-align: center; /* Centraliza o texto */
}

.center-text {
    text-align: center; /* Centraliza o texto */
}

