.status-dot-aberto {
    background-color: #1ea500;
    padding: 4px;
    border-radius: 10px;
}
.status-dot-finalizado {
    background-color: #b82424;
    padding: 4px;
    border-radius: 10px;
}

.urgency-dot-alta {
    background-color: #b82424;
    padding: 4px;
    border-radius: 10px;
}
.urgency-dot-media {
    background-color: #ff8c00;
    padding: 4px;
    border-radius: 10px;
}
.urgency-dot-baixa {
    background-color: #1ea500;
    padding: 4px;
    border-radius: 10px;
}

.filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 15px;
}

.filter-box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    margin-right: auto;
    margin-right: 5%;


}

.table-container {
    margin: 0 auto;
    width: 90%;
}

.filter-section {
    display: flex;
    justify-content: space-between;
}

.filter-group {
    margin-bottom: 10px;
}   

/* CasosTable.css */
.header-cell {
    font-weight: bold;
    background-color: #f5f5f5;
    text-align: center;
    color: #333;
    padding: 10px;
}


.tabela{
    margin: 0 auto;
    width: 95%;

}
