.user-control {
  width: 100%;
  padding-top: 100px;
}

.title {
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 800;
  padding-left: 40px;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px;
}

.filter-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-section {
  display: flex;
  flex-direction: column;
}

.filter-group {
  margin-bottom: 10px;
}

.compact-input {
  margin-right: 10px;
}

.button {
  margin-left: 10px;
}

.icon-admin,
.icon-email,
.icon-nome,
.icon-edit,
.icon-delete {
  padding-top: 4px;
  display: flex;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.create-user {
  text-decoration: none;
}
