.login-container {
    padding-top: 5%;
  }
  
  .login-text {
    text-align: center;
  }
  
  #login-text {
    padding-bottom: 5%;
  }
  
  .login-button {
    margin-top: 10%;
  }
  
  .box-divider {
    height: 90%;
    width: 2px;
    background-color: black;
    margin-left: 40%;
  }

  .login-container{
    padding-top: 4%;
  }