.geral {
    padding: 20px;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
  }
  
  .form-title {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Roboto, sans-serif';
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .view-button {
    background-color: #007bff;
    color: white;
  }
  
  .delete-button {
    background-color: red;
    color: white;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .create-user {
    text-decoration: none;
  }
  
  .filter-section {
    display: flex;
    justify-content: space-between;
  }
  
  .filter-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  