.geral {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin-top: 20px;
}

.centered-text {
  text-align: center;
}

.form-container {
  margin-top: 6%;
}

.paper {
  padding: 25px;
  margin: 25px;
}

.form-title {
  margin-bottom: 20px;
}

.form-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.editable-field {
  background-color: white;
}
